html
	head
		title MyBooks -- About
		include ../static/pug/head-tags.pug
	body
		include ../static/pug/header.pug
		include ../static/pug/navbar.pug

		div#about-page
			h1 We love books
			p I am Lisa and I love to read. I decided to make my library accessible to everyone, because I get a lot of questions about the books I have, have read or recommend.
			p My love for book all started at a very young age. My mother works at a library, so as a child I had access to a lot of books. I grew up with all these fantastic worlds right there for me to explore!
			p 
				| People ask me very often 
				strong which genre I like the most
				| , but that differs a lot. Some periods of time I am really into Young Adult/fantasy, but other times I read a lot of thrillers. During the summer I like chicklits more. Luckily, this also means that I have a lot of different genres available for my friends and family! 


		include ../static/pug/footer.pug