html
	head
		title MyBooks -- About
		link(rel='stylesheet', type='text/css', href='../css/style.css')
		link(href='https://fonts.googleapis.com/css?family=Pangolin', rel='stylesheet')
	body
		include ../static/pug/header.pug
		include ../static/pug/navbar.pug

		div#about-page
			h1 We love books
			h2 And we want to share it 
			p On this website you can check which books we own, which books we want and which books we shared.
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu justo sed ipsum sagittis cursus. Sed tincidunt accumsan egestas. Phasellus nulla risus, dictum vitae diam quis, consectetur rutrum libero. Cras ac mauris massa. Donec bibendum dui nec eros vestibulum hendrerit. Phasellus euismod congue lacinia. Nulla congue quam ut nunc consequat, et faucibus odio venenatis. Cras elementum nunc ut mattis vestibulum. Praesent vel libero vel purus mollis porttitor in sed purus. Vestibulum sit amet ex in lorem suscipit scelerisque quis vitae metus. Etiam feugiat est sit amet dui pretium, sit amet lacinia ipsum suscipit. Fusce lectus enim, cursus sed consequat vel, interdum sed nibh. Phasellus sagittis venenatis sem, eu sagittis purus convallis ac. Phasellus et quam luctus, pellentesque nibh at, aliquam nulla. Vivamus quis laoreet enim.

		include ../static/pug/footer.pug