html
	head
		title MyBooks -- Home
		include ../static/pug/head-tags.pug
	body
		include ../static/pug/header.pug
		include ../static/pug/navbar.pug
		div#container
			div#home-left
				h1 Welcome!
				p Ever wondered which books to give me? You wanted to borrow a book but didn't know which books I have? Or you just wanted to know the title of the book I was reading last January?
				p Then you are in the right place! Take a virtual stroll through my library and get new inspiration for books to read.
				p#p-home Get yourself a cup of tea and start reading.
			div#home-right
				h1 Wishlist
				div#books-table
					table
						tr
							th Title
							th Price
						each book in fiveBooks
							tr
								td #{book.title}
								td #{book.price}
				div#link
					a(href="/wishlist") See more
		include ../static/pug/footer.pug

