body {
	margin: 0;
	display: block;
/*	box-sizing: border-box; de border wordt meegerekend in breedte etc */
	overflow-x: hidden; /*zodat er geen scrollbar onder verschijnt */
	max-width: 100%;
	font-family: 'JennaSue', cursive;
}

@font-face {
    font-family: JennaSue;
    src: url("../fonts/JennaSue.ttf");
}

p {
	font-family: arial;
}

a {
	color: black;
}

a:visited {
	color: black;
}

.center {
	text-align: center;
}
/*header*/
#header {
	background: url("../img/header.jpeg") no-repeat center center;
	display: block;
	margin: 0;
	height: 130px;
	background-size: cover;
}

#h1-header {
	text-align: center;
	color: #00cccc;
	text-shadow: 1px 1px #242424;
	font-size: 100px;
	padding-top: 15px;
}
/*header end*/

/*navbar*/
.navbar {
	width: 100%
	height: 30px;
}

ul {
	display: block;
	list-style-type: none;
	background-color: #e8e8e8;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	border: 2px solid #00cccc;
}

li {
	float:left;	

}

.nav-right {
	float: right;
}

li a {
	display:block;
	padding: 10px 20px;
	text-decoration: none;
	text-align: center;
	font-size: 35px;
	color:#ff9900;
}

li a:hover {
	background-color: #b3b3b3;
}

li a:visited {
	text-decoration: none;
	color: #ff9900;
}
/*navbar end*/

/*footer*/
.footer {
	bottom: 0px;
	background-color: #cccccc;
	text-align: center;
	height: 25px;
	font-size: 20px;
	width: 100%;
	position: fixed;
}

.footer p {
	margin: 0;
	font-family: 'JennaSue', cursive;
	font-size: 22px;
}
/*footer end*/

/*home*/
#container {
	display: flex;
	margin: 10px 15px 30px 15px;
	justify-content: space-between;
}

#home-left {
	flex: 5;
	border: 3px solid #00e6e6;
	padding: 10px;
	border-radius: 15px;
}

#p-home {
	font-family: 'JennaSue', cursive;
	font-size: 30px;
	text-align: right;
}

#home-right {
	flex: 3;
	border: 3px solid #00e6e6;
	margin-left: 15px;
	padding: 10px;
	border-radius: 15px;
}

#link {
	text-align: right;
	padding: 5px 10px;
}

#link a {
	text-decoration: none;
	color: black;
	font-size: 30px;
}

#link a:visited {
	text-decoration: none;
	color: black;
}
/*home end*/

/*about*/
#about-page {
	margin: 10px 15px 30px 15px;
	border: 3px solid #00e6e6;
	padding: 10px 50px;
	border-radius: 15px;
}

#about-page h1 {
	font-size: 60px;
	color: #66cc00;
	text-align: center;
	text-shadow: 1px 1px #242424;
}

/*about end*/

/*books page*/
#books-page {
	margin: 10px 15px 30px 15px;
	border: 3px solid #00e6e6;
	padding: 10px;
	display:flex;
	border-radius: 15px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #ccff99;
}

.crossed {
	text-decoration: line-through;
}

#books-table {
	flex: 5;
}

#search-books {
	flex: 1;
	margin-left: 15px;
}

form {
	font-family: arial;
}

form p {
	margin-bottom: 2px;
	font-size: 15px;
}

#searchOptions {
	padding-left: 15px;
}
/*books end*/

/*wishlist*/
#wishlist-table {
	margin: 10px 15px 30px 15px;
	border: 3px solid #00e6e6;
	padding: 10px;
	border-radius: 15px;
}
/*wishlist end*/

/*login*/
#login-container {
	display: flex;
	margin: 10px 15px 30px 15px;
	justify-content: space-between;
}

#login-left {
	flex: 1;
	border: 3px solid #00e6e6;
	padding: 10px;
	text-align: center;
	border-radius: 15px;
}

#login-right {
	flex: 1;
	border: 3px solid #00e6e6;
	margin-left: 15px;
	padding: 10px;
	text-align: center;
	border-radius: 15px;
}

.input-button {
	background-color: #b3ff66;
	border: none;
	border-radius: 2px;
	color: black;
	display: inline-block;
	margin: 10px;
	padding: 10px;
	font-size: 25px;
	font-family: 'JennaSue', cursive;
	width: 75px;
}

.input-button a {
	color: black;
	text-decoration: none;
}

.input-button a:visited {
	color: black;
	text-decoration: none;
}
/*login end*/
.button {
	background-color: #b3ff66;
	border: none;
	border-radius: 2px;
	color: #262626;
	display: inline-block;
	margin: 10px;
	padding: 10px;
	font-size: 25px;
	font-family: 'JennaSue', cursive;
	width: 75px;
}
/*add books*/
#add-page {
	display: flex;
	margin: 10px 15px 30px 15px;
	justify-content: space-between;
}

h1 {
	color: #66cc00;
}

#add-books {
	flex: 1;
	border: 3px solid #00e6e6;
	padding: 10px;
	text-align: center;
	border-radius: 15px;
}

#add-wishlist {
	flex: 1;
	border: 3px solid #00e6e6;
	margin-left: 15px;
	padding: 10px;
	text-align: center;
	border-radius: 15px;
}

/*add books end*/